.top {
    width: 100vw;
    height: 100vh;
    background-image: url(./QQ图片20230106184520.png);
    background-size: cover;
}

.bottom {
    width: 100vw;
    height: 100vh;
    background-image: url(./yslei2.jpg);
    background-size: cover;
    text-align: center;
    color: gray;
}

.bottom img {
    height: 100px;
}

.top_nav {
    width: 100vw;
    height: 100px;
    background: rgba(0, 0, 0, 0.3);
}

.top_nav img {

    height: 100px;
    margin-left: 100px;
    float: left;
}

.top_nav ul {
    width: 1400px;
    height: 100px;
    float: left;
    padding: 0px;
    margin: 0px;
}

.top_nav ul li {
    width: 200px;
    height: 100px;
    line-height: 100px;
    float: left;
    font-size: 24px;
    color: white;
    list-style: none;
    text-align: center;
    margin-left: auto;
}

.top_nav ul li:hover {
    text-shadow: 0px 0px 5px gold;
    border-bottom: 3px solid white;
}

.loadbtn {
    width: 300px;
    height: 70px;
    font-size: 20px;
    color: white;
    background: linear-gradient(to right, black, #5691c8);
    border: none;
    border-radius: 10px;
    border-bottom-right-radius: 60px;
    border-top-left-radius: 60px;
    position: absolute;
    bottom: 100px;
    left: 50%;
    margin-left: -150px;

}

.bottom_nav {
    width: 100vw;
    height: 30vh;
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 170vh;
}

.erj {
    display: none;
}

.yj:hover .erj {
    display: block;
}

.erj li {
    clear: both;
}
