.main{
    width: 1200px;
    margin: 0 auto;
}
.main .main-inner{
    width: 1200px;
    background: #fff;
    padding: 25px;
}
.main .main-inner>h1{
    width: 1150px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    font-size: 28px;
}
.main .main-inner>h3{
    width: 1150px;
    height: 40px;
    font-size: 22px;
    text-align: left;
    line-height: 40px;
}
.main .main-inner>h4{
    width: 1150px;
    height: 30px;
    font-size: 18px;
    font-weight: 600;
    line-height: 30px;
}
.main .main-inner>p{
    width: 1150px;
    height: 30px;
    font-size: 18px;
    text-align: left;
    line-height: 30px;
}
.main .main-inner .main-inner-box{
    width: 1150px;
    margin-top: 20px;
}
.main .main-inner .main-inner-box>h3{
    width: 1150px;
    height: 40px;
    font-size: 24px;
    text-align: left;
    line-height: 40px;
}
.main .main-inner .main-inner-box>p{
    width: 1150px;
    height: 40px;
    font-size: 18px;
    text-align: left;
    line-height: 40px;
}