.header{
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}
.nav{
    line-height:30px;
    background-color:#eeeeee;
    height: 1000px;
    width:700px;
    float:left;
    padding:5px;
}
.section{
    width:350px;
    float:left;
    padding:10px;
}
.footer{
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px; 
}
.wq{
    margin-top: 350px;
}
.js{
    margin-top: 250px;
}
.ys{
    background-color: #e8b378f6;
}